.product-comp{
    height: 85vh;
    margin-bottom:4rem;
    /* background-color: aqua; */
}

.card{
    margin-left: 0px;
}
.card-body{
min-height: 250px;
max-height: 250px;
}

.img-fluid{
    min-height: 180px;
    max-height: 180px;
}
.product-title{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-title span {
    font-size: 4rem;
    font-weight: bold;
}

.product-title span>:nth-child(1) {
    color: black;
    margin-right: 10px;
}

.product-title span>:nth-child(2) {
    color: rgb(0, 173, 253);
    margin-left: 10px;
}
.product-list{
    width: 100%;
    height: 89%;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: brown; */
}
.product-main{
    width: 90%;
    height: 85%;
    /* background-color: green; */
}
.product-detail {
    width: 100%;
    display: flex;
    align-items: center;
    height: 30%;
}
.product-detail img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 6px;
}
.section-one{
    /* background-color: yellow; */
}
.section-two{
    /* background-color: greenyellow; */
    justify-content: right;
    text-align: right;
}
.section-three{
    /* background-color: orange; */
}
.mini-one{
    margin-right: 1.5%;
}
.one-details{
    width: 60%;
    margin-left: 1.5%;
}
.one-details span {
    font-weight: bold;
}


.one-details span>:nth-child(1) {
    color: rgb(0, 173, 253);;
    font-size: 2.9rem;
}

.one-details span>:nth-child(2) {
    color: black;
    font-size: 1.8rem;
}