.toggle{
    display: flex;
    justify-content:space-between;
    border: 2px solid rgb(0, 173, 253);
    border-radius: 1rem;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.toggle>*{
    /* width: 1rem; */
    /* height: 1.2rem; */
    color: rgb(0, 173, 253);
}

/* .t-button{
    border-radius: 100%;
    background: rgb(0, 173, 253);
    position: absolute;
} */